body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font: 1em sans-serif;
}

/** video **/

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/** overlay **/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/** section **/

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/** nav **/

nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #fff;
    color: skyblue;
}

/** content text **/

.content {
    text-align: center;
    z-index: 2;
}

.content h1 {
    font-size: 70px;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    transition: 0.3s;
}

.content h1:hover {
    color: transparent;
}

.content p {
    font-size: 30px;
    color: #fff;
    margin: 0;
}

button {
    font-size: 25px;
    padding: 10px 30px;
    margin: 35px 0 0;
    background: #fff;
    color: black;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.2);
    background: skyblue;
    color: #fff;
}